@using Delivive.Models;

@model FoodModel

<body>
    Current Menu:
    <table>
        @foreach (FoodModel item in ViewBag.Result)
        {
            <tr>
                <td>@item.Food_name</td>
                <td>@item.Price</td>
                <td>@item.Description</td>
            </tr>
        }
    </table>




    <form action="addMenuAction">
        @Html.HiddenFor(i => i.Restaurant_id)

        @Html.LabelFor(i => i.Food_name)
        @Html.TextBoxFor(i => i.Food_name)

        @Html.LabelFor(i => i.Price)
        @Html.TextBoxFor(i => i.Price)

        @Html.LabelFor(i => i.Description)
        @Html.TextAreaFor(i => i.Description)
        <input type="submit" />
    </form>
</body>