@using Delivive.Models;

@model IEnumerable<FoodModel>

@{
    ViewBag.Title = "View Menu";
}

<body>
    <h1>All restaurants:</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Item Name</th>
                <th scope="col">Price</th>
                <th scope="col">Description</th>
                <th scope="col">Add</th>
            </tr>
        </thead>
        @foreach (FoodModel item in Model)
        {
            <tbody>
                <tr>
                    <td>@item.Food_name</td>
                    <td>@item.Price</td>
                    <td>@item.Description</td>
                    <td><input type="button" class="btn" value="Add to Cart" id="@item.Food_id" onclick="makeOrder(@Json.Encode(item))" style="background-color:#64958f; color:#faf3dd; font-weight:500"/></td>
                </tr>
            </tbody>

        }
    </table>

</body>

<p id="ShoppingCart">

</p>
<table>
    <tbody>
        <tr>
            <td>@Html.Hidden("OrdersHidden")</td>
        </tr>
    </tbody>
</table>



<input type="button" class="btn" value="Place Order" onclick="placeOrder()" style="background-color:#64958f; color:#faf3dd; font-weight:500"/>

<script>
    var foods = [];
    function makeOrder(food) {

        document.getElementById('ShoppingCart').innerHTML = document.getElementById('ShoppingCart').innerHTML + food.Food_name;
        $("#OrdersHidden").val(function () {
            return this.value + JSON.stringify(food);
        });
        debugger
        foods.push(food);
    }

    function placeOrder() {
         $.ajax({
             url: '@Url.Action("PlaceOrder", "Restaurant")',
             contentType: 'application/json; charset=utf-8',
             type: "POST",
             dataType: 'json',
                data: JSON.stringify({
                    foods: foods
                }),
                success: function (data) {

                },
                error: function (response) {
                    alert(response.responseText);
                }
            })
    }
</script>




