@using Delivive.Models;

@model IEnumerable<OrderModel>

@{
    ViewBag.Title = "Restaurant Orders";
}

<body>
    <h1>Orders:</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Restaurant</th>
                <th scope="col">Order#</th>
                <th scope="col">Time of Order</th>
                <th scope="col">Time of Delivery</th>
                <th scope="col">Address</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        @foreach (OrderModel item in Model)
        {
            <tbody>
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Order_id</td>
                    <td>@item.Time_placed</td>
                    <td>@item.Time_delivery</td>
                    <td>@item.Address</td>
                    <td>@item.Delivery_status</td>
                    <td><input type="button" value="Order Detail" id="@item.Order_id" onclick="viewOrder(@item.Order_id)" class="btn" style="background-color:#64958f; color:#faf3dd; font-weight:500" /></td>
                    @if (item.Delivery_status == "Order Placed")
                    {
                        <td><input type="button" value="Accept" id="@item.Order_id" onclick="AcceptOrder(@item.Order_id)" class="btn" style="background-color:#64958f; color:#faf3dd; font-weight:500" /></td>
                        <td><input type="button" value="Decline" id="@item.Order_id" onclick="DeclineOrder(@item.Order_id)" class="btn" style="background-color:#d35d6e; color:#faf3dd; font-weight:500" /></td>
                    }

                </tr>
            </tbody>

        }
    </table>
</body>

<script>
    function viewOrder(orderId) {
        window.location.href = "/Order/OrderDetail?orderId=" + orderId;
    }

    function AcceptOrder(orderId) {
        window.location.href = "/Order/AcceptOrder?orderId=" + orderId;
    }

    function DeclineOrder(orderId) {
        window.location.href = "/Order/DeclineOrder?orderId=" + orderId;
    }
</script>
