<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Delivive</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Delivive", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Restaurants", "GetRestaurants", "Restaurant")</li>
                    @if ((Session["UserType"] == null ? "" : Session["UserType"].ToString()) == "Customer")
                    {
                        <li>@Html.ActionLink("Customer Orders", "GetCustomerOrders", "Customer")</li>
                    }
                    @if ((Session["UserType"] == null ? "" : Session["UserType"].ToString()) == "Restaurant")
                    {
                        <li>@Html.ActionLink("Restaurant Orders", "GetRestaurantOrders", "Restaurant")</li>
                        <li>@Html.ActionLink("Add Menu", "AddMenu", "Restaurant")</li>
                    }
                    @if ((Session["UserType"] == null ? "" : Session["UserType"].ToString()) == "Driver")
                    {
                        <li>@Html.ActionLink("Available Orders", "AvailableOrders", "Driver")</li>
                        <li>@Html.ActionLink("My Deliveries", "MyDeliveries", "Driver")</li>
                    }
                    @if (Session["UserName"] == null)
                    {
                        <li>@Html.ActionLink("Driver Application", "DriverApplication", "Driver")</li>
                        <li>@Html.ActionLink("Restaurant Application", "RestaurantApplication", "Restaurant")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content" style="padding-top:30px">
        @RenderBody()
        <hr />
        <footer>
            <p>CPSC471-Fall2020-Group47</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
