@using Delivive.Models;
@model IEnumerable<OrderModel>

@{
    ViewBag.Title = "Customer Order";
}

<body>
    <h1>Your Orders:</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Restaurant</th>
                <th scope="col">Order#</th>
                <th scope="col">Time of Order</th>
                <th scope="col">Time of Delivery</th>
                <th scope="col">Address</th>
                <th scope="col">Status</th>
                <th scope="col">Detail</th>
            </tr>
        </thead>
        @foreach (OrderModel item in Model)
        {
            <tbody>
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Order_id</td>
                    <td>@item.Time_placed</td>
                    <td>@item.Time_delivery</td>
                    <td>@item.Address</td>
                    <td>@item.Delivery_status</td>
                    <td><input type="button" value="Details" id="@item.Order_id" onclick="viewOrder(@item.Order_id)" class="btn" style="background-color:#64958f; color:#faf3dd; font-weight:500" /></td>
                </tr>
            </tbody>

        }
    </table>
</body>


<script>
    function viewOrder(orderId) {
        window.location.href = "/Order/OrderDetail?orderId=" + orderId;
    }
</script>
