@using Delivive.Models;

@model DriverApplicationViewModel

<form action="submitDriverApplication" >
    @Html.LabelFor(i => i.Driver_record)
    @Html.CheckBoxFor(i => i.Driver_record)

    @Html.LabelFor(i => i.Driver_license)
    @Html.CheckBoxFor(i => i.Driver_license)

    @Html.LabelFor(i => i.Short_answer)
    @Html.TextAreaFor(i => i.Short_answer)
    <input type="submit" />
</form>

<script>
    function submitDriverApplication() {
         $.ajax({
                url: '@Url.Action("Next_Manifest", "Inventory")',
                type: "POST",
                data: {
                },
                success: function (data) {
                    firstChecked = false;
                    originalControlNumber = data.id;
                    $('#ManifestNumber').val(prefixValue + data.id + suffixValue);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            })

    }
</script>